{% extends 'projects/base_projects.html' %}
{% block content %}

<main class="projects">
    <section class="hero-section text-center">
        <div class="container container--narrow">
            <div class="hero-section__box">
                <h2>Поиск по <span>проектам</span></h2>
            </div>

            <div class="hero-section__search">
                <form id='searchForm' class="form" action="{% url 'projects:projects' %}" method="get">
                    <div class="form__field">
                        <label for="formInput#search">Поиск по проектам </label>
                        <input class="input input--text" id="formInput#search" type="text" name="search_query"
                            placeholder="Поиск по названию/описанию проекта" value="{{ search_query }}" />
                    </div>

                    <input class="btn btn--sub btn--lg" type="submit" value="Найти" />
                </form>
            </div>
        </div>
    </section>
    <section class="projectsList">
        <div class="container">
            <div class="grid grid--three">

                {% for project in projects %}
                <div class="column">
                    <div class="card project">
                        <a href="{% url 'projects:project' project.id %}" class="project">
                            <img class="project__thumbnail" src="{{ project.image.url }}" alt="скриншот проекта" />
                            <div class="card__body">
                                <h3 class="project__title">{{ project.title }}</h3>
                                <div class="project__tags">
                                    {% for tag in project.tags.all %}
                                    <a href="{% url 'projects:tag' tag.slug %}" class="tag tag--pill tag--main">{{tag}}</a>

                                    {% endfor %}

                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>

    {% include 'projects/pagination.html' with queryset=projects custom_range=custom_range %}
</main>

{% endblock %}




<p><strong><a href="{% url 'projects:create_project' %}">Добавить проект</a></strong></p>


