{% extends "courses/base_courses.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Log-in</h1>
    <div class="module">
    {% if form.errors %}
        <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
    {% else %}
        <p>Пожалуйста, используйте следующую форму для входа:</p>
    {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <p><input type="submit" value="Log in"></p>
            </form>
        </div>
</div>
{% endblock %}