{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% load socialaccount %}


{% block content %}
<p class="italics">Регистрация для получения дополнительных сервисов</p>
{% if user.is_authenticated %}
<p class="italics">Welcome {{ user.username }} !!!</p>
{% else %}
<p><a href="{% provider_login_url 'github' %}">Sign Up</a></p>
{% endif %}
<h2 class="center">СryptoСurrency Rate </h2>
<img id="my_image" src="{% static 'parser/images/bitcoin.png' %}">
<p><a href="{% url 'form' %}" class="btn btn-success btn btn-block">котировки отдельных криптовалют </a></p>
<p><a href="{% url 'index_all' %}" class="btn btn-success btn btn-block">котировки всех криптовалют</a></p>
<p><a href="{% url 'api_json' %}" class="btn btn-success btn btn-block">котировки в json формате</a></p>
<input type="file" name="">
<p><a href="{% url 'all_file' %}" class="btn btn-success btn btn-block">Показать архивный файл</a></p>
{% endblock %}