{% extends 'reader/base_reader.html' %}

{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2>{% block title %} Добавить новую книгу {% endblock %}</h2>
          <p class="text-secondary">Обложку можно добавить позже</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Создать"/>
        </form>
    </div>
{% endblock content %}