{% load static %}

<header class="header">
    <div class="container container--narrow">
        <a href="#"><span class="header__logo">my<i class="fa fa-search"></i>Courses</span></a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Меню</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'courses:course_list' %}">Курсы</a></li>
                <li class="header__menuItem"><a href="{% url 'courses:subjects' %}">Предметы</a></li>
                <li class="header__menuItem"><a href="{% url 'courses:course_list' %}">Модули</a></li>

                <li class="header__menuItem"><a href="#">Сообщения</a></li>
                <li class="header__menuItem"><a href="#">Мой аккаунт</a></li>
                <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Выйти</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Войти/зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>